# Default ignored files
/../../Session 5 and 6 /.idea/shelf/
/../../Session 5 and 6 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Session 5 and 6 /.idea/httpRequests/
# Datasource local storage ignored files
/../../Session 5 and 6 /.idea/dataSources/
/../../Session 5 and 6 /.idea/dataSources.local.xml
